<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Blogpost | CarInsights</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="/css/utility.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
</head>
<body>
    <%- include('navbar', {homeActive: "", blogsActive: "active", aboutActive:" "}) %>
    <main>
        <article id="blog">
            <div id="title"><%= blog.title%></div>
            <div id="details">
                <span><%= blog.author%></span> | <%= blog.date%> | 3 Min Read
            </div>
            <img src="<%= blog.coverImg%>">
            <div id="blog-body">
                <%- blog.blogBody%>
            </div>
        </article>
        <section id="latest-blogs">
            <h2 id="latest-blogs-heading">Latest Blogs</h2>
            <div id="latest-blogs-container">
                <% latestBlogs.forEach(element => { %>
                    <article class="latest-blog">
                        <img src="<%= element.coverImg%>">
                        <div class="latest-blog-title"><%= element.title%></div>
                        <button class="btn btn-link-inside"> <a href="/blogs/<%=element.slug%>"> Read Article </a></button>
                    </article>
                <% }) %>
            </div>
        </section>
    </main> 
    <%- include('footer') %>
</body>
<script src="js/hamburger.js"></script> 
</html>