<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Dashboard | CarInsights</title>
    <link href="/css/utility.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
</head>
<body>
    <main>
        <section id="header">
            <div id="header-left">
                <div id="filter-container">
                    <label for="filter">Filter</label>
                    <select name="filter" id="filter">
                        <option value="-" selected>- </option>
                        <option value="private">Private</option>
                        <option value="public">Public</option>
                    </select> 
                </div>
                <div id="sort-container">
                    <label for="sort">Sort by</label>
                    <select name="sort" id="sort">
                    <option value="latest" selected>Latest</option>
                    <option value="oldest">Oldest</option>
                    </select> 
                </div>
            </div>
            <div id="header-center">
                <input type="text" name="search" id="search" placeholder="ðŸ” Search">
            </div>
            <div id="header-right">
                <button class="btn btn-link-inside"><a href="/admin/addBlog" target="_blank">Add Blog</a></button>
                <button class="btn" id="logout-btn" onclick="localStorage.removeItem('auth'); location='/'">Logout</button>
            </div>
        </section>
        <section id="blogs">
            <% blogs.forEach(element => { %>
                <div class="blog <%- element.visibility%>">
                    <div class="blog-left">
                        <img src="<%= element.coverImg%>" alt="Old Beetle">
                    </div>
                    <div class="blog-right">
                        <h2 class="title"><%= element.title%></h2>
                        <div class="details-container">
                            <div class="author-date">By <span><%= element.author%></span> | <%= element.date%></div>
                            <div class="read-time">3 Min read</div>
                        </div>
                        <div class="description"><%- element.blogBody%>...</div>
                        <div class="btn-container">
                            <button class="btn btn-link-inside"><a href="/blogs/<%= element.slug%>" target="_blank">View</a></button>
                            <button class="btn">Edit</button>
                            <button class="btn deleteBtn">Delete</button>
                        </div>
                    </div>
                </div>
            <% }) %>
        </section>
    </main>
</body>
<script src="js/dashboard.js"></script>
<script src="js/adminAuth.js"></script>
</html>